.cardProducto {
    width: 20rem;
    margin: 20px;
    background-color: rgba(246, 3, 242, 0.458);
}

.ItemDetail{
    max-width: 200px;
    margin: 50px;
}
.card-body{
    background-color: lightpink;
    
}

.darMode {
    background-color: black;
    color: antiquewhite;
}