.cardProducto {
    width:15rem;
    margin: 15px;
    background-color: pink;
}

.ItemDetail{
    max-width: 200px;
    margin: 50px;
}
.card-body{
    background-color: lightpink;
}

.darMode {
    background-color: black;
    color: antiquewhite;
}